* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.container {
   width: 300px;
   height: 200px;
   background-color: lightgreen;
   border-radius: 10px;
   display: flex;
   position: relative;
   margin: 20px;
}

.container:hover .back {
   transform: translateX(-100px) translateY(-100px);
}

.front {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: aqua;
   margin-right: 10px;
   border-radius: 10px;
   z-index: 100;
}

.back {
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 100%;
   /* background-color: aqua; */
   border-radius: 10px;
   padding-left: 5px;
   padding-top: 5px;
   transition: .5s;
}

.icons {
   position: relative;
   z-index: 100;
   padding-top: 5px;
   padding-left: 5px;
}

.icons>i {
   position: absolute;
   transition: .3s ease-in;
   background-color: aqua;
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.2s;
   color: #fff;
}

.icons>i:hover {
   background-color: #fff;
   color: aqua;
}

.container:hover .fa-heart {
   transform: translateY(-50px);
}

.container:hover .fa-trash-can {
   transform: translateX(-50px);
}

.container:hover .fa-share-nodes {
   transform: translateX(-50px) translateY(-50px);
}